<!DOCTYPE html>
<html class="no-js" lang="en">
<head>

    <!--- basic page needs
    ================================================== -->
    <meta charset="utf-8">
    <title>Hospital Stay</title>
    <meta name="description" content="">
    <meta name="author" content="">
 
    <!-- mobile specific metas
    ================================================== -->
    <meta name="viewport" content="width=device-width, initial-scale=1">


    <link rel="stylesheet" href="../static/css/base1.css">
    <link rel="stylesheet" href="../static/css/style.css">
    <link rel="stylesheet" href="../static/css/vendor1.css">

    <!-- script
    ================================================== -->
    <script src="../static/js/modernizr.js"></script>

    <!-- favicons
    ================================================== -->
    
    <link rel="manifest" href="site.webmanifest">

</head>

<body id="top">


    <!-- preloader
    ================================================== -->
    <div id="preloader">
        <div id="loader" class="dots-fade">
            <div></div>
            <div></div>
            <div></div>
        </div>
    </div>


    <!-- header
    ================================================== -->
    <header class="s-header">

        <div class="header-logo">
            <a href="/">
                <h3 style="color: black; padding-bottom: 50px;" !important>Hospital Stay</h3>
            </a>
        </div>

        <div class="header-content">
    
            <nav class="row header-nav-wrap" style="margin-left: 100px; " !important>
                <ul class="header-nav">
                    <li><a  href="/home" title="Intro" style="color: black;" !important>ABOUT</a></li>
                    <li><a  href="/prediction" title="About" style="color: black;" !important>PREDICTION</a></li>
                    <li><a  href="/charts" title="About" style="color: black;" !important>CHARTS</a></li>
                    <li><a  href="/performance" title="About" style="color: black;" !important>PERFORMANCE</a></li>
                    
                </ul>
            </nav> <!-- end header-nav-wrap -->

            <a href="/logout" class="btn btn--stroke btn--small">LOGOUT</a>

        </div> <!-- end header-content -->

        <a class="header-menu-toggle" href="#0"><span>Menu</span></a>

    </header> 


    <!-- hero
    ================================================== -->
    <section id="portfolio" class="s-portfolio target-section">

        <div class="row s-portfolio__header">
            <div class="column large-6 medium-8 tab-full">
                <div class="section-intro" data-num="PERFORMANCE" data-aos="fade-up">
                    <h3 class="subhead">Performance</h3>
                    <h1 class="display-1">
                        Model Performance Metrics and Insights.
                    </h1>
                </div>
            </div>
        </div> <!-- s-porfolio__header -->

        <div class="row s-porfolio__list block-large-1-2 block-tab-full collapse">

            <div class="column" data-aos="fade-up">
                <div class="folio-item">
                    <div class="folio-item__thumb">
                        <a class="folio-item__thumb-link" href="../static/images/portfolio/gallery/a1.png" title="Windows in The City" data-size="1050x700">
                            <img src="../static/images/portfolio/a1.png" 
                                 srcset="../static/images/portfolio/a1.png 1x, ../static/images/portfolio/windows-in-the-city@2x.jpg 2x" alt="">
                        </a>
                    </div>
                    <div class="folio-item__info">
                        <div class="folio-item__cat">Bar Plot</div>
                        <h4 class="folio-item__title">MSE vs RMSE vs MAE vs R2</h4>
                    </div>
                    
                </div>
            </div> <!-- end column -->
            <div class="column" data-aos="fade-up">
                <div class="folio-item">
                    <div class="folio-item__thumb">
                        <a class="folio-item__thumb-link" href="../static/images/portfolio/gallery/a2.png" title="Building Blocks" data-size="1050x700">
                            <img src="../static/images/portfolio/a2.png" 
                                 srcset="../static/images/portfolio/a2.png 1x, ../static/images/portfolio/building-blocks@2x.jpg 2x" alt="">
                        </a>
                    </div>
                    <div class="folio-item__info">
                        <div class="folio-item__cat">Bar Plot</div>
                        <h4 class="folio-item__title">Precision vs Recall vs F1-Score</h4>
                    </div>
                    
                </div>
            </div> <!-- end column -->
            

        </div> <!-- folio-list -->

    </section> <!-- end portfolio -->


    <!-- testimonials
    ================================================== -->
    <section id="testimonials" class="s-testimonials">

        <div class="row collapse">
    
            <div class="column large-full">
    
                <div class="testimonial-slider" data-aos="fade-up">
    
                    <div class="testimonial-slider__slide">
                        <p>
                            The Mean Squared Error (MSE) measures the average of the squares of the errors, which is the average squared difference between the predicted values and actual values. Lower values indicate better model performance.
                        </p>
                        <div class="testimonial-slider__author">
                            
                            <cite class="testimonial-slider__cite">
                                <strong>Mean Squared Error</strong>
                                <span>0.74</span>
                            </cite>
                        </div>
                    </div> <!-- end testimonials__slide -->
    
                    <div class="testimonial-slider__slide">
                        <p>
                            The Root Mean Squared Error (RMSE) represents the square root of the average squared differences between predicted values and actual values, making it interpretable in the same units as the target variable.
                        </p>
                        <div class="testimonial-slider__author">
                            
                            <cite class="testimonial-slider__cite">
                                <strong>Root Mean Squared Error</strong>
                                <span>0.86</span>
                            </cite>
                        </div>
                    </div> <!-- end testimonials__slide -->
    
                    <div class="testimonial-slider__slide">
                        <p>
                            The Mean Absolute Error (MAE) measures the average magnitude of errors in a set of predictions, without considering their direction. It’s a linear score, meaning all individual differences are weighted equally.
                        </p>
                        <div class="testimonial-slider__author">
                            
                            <cite class="testimonial-slider__cite">
                                <strong>Mean Absolute Error</strong>
                                <span>0.23</span>
                            </cite>
                        </div>
                    </div> <!-- end testimonials__slide -->
    
                    <div class="testimonial-slider__slide">
                        <p>
                            The R² score indicates how well the model explains the variance in the target variable. An R² score closer to 1 signifies a better fit for the model.
                        </p>
                        <div class="testimonial-slider__author">
                            
                            <cite class="testimonial-slider__cite">
                                <strong>R2 Error</strong>
                                <span>0.96</span>
                            </cite>
                        </div>
                    </div> <!-- end testimonials__slide -->
    
                    <div class="testimonial-slider__slide">
                        <p>
                            Precision is the ratio of correctly predicted positive observations to the total predicted positives. It is crucial for scenarios where false positives are costly.
                        </p>
                        <div class="testimonial-slider__author">
                            
                            <cite class="testimonial-slider__cite">
                                <strong>Precision</strong>
                                <span>0.99</span>
                            </cite>
                        </div>
                    </div> <!-- end testimonials__slide -->
    
                    <div class="testimonial-slider__slide">
                        <p>
                            Recall, also known as sensitivity, measures the ratio of correctly predicted positive observations to all actual positives. It’s critical for applications where missing positive cases has a high cost.
                        </p>
                        <div class="testimonial-slider__author">
                            
                            <cite class="testimonial-slider__cite">
                                <strong>Recall</strong>
                                <span>0.98</span>
                            </cite>
                        </div>
                    </div> <!-- end testimonials__slide -->
    
                    <div class="testimonial-slider__slide">
                        <p>
                            The F1-Score is the weighted average of Precision and Recall, providing a single metric that balances the trade-off between Precision and Recall, especially in imbalanced datasets.
                        </p>
                        <div class="testimonial-slider__author">
                            
                            <cite class="testimonial-slider__cite">
                                <strong>F1-Score</strong>
                                <span>0.99</span>
                            </cite>
                        </div>
                    </div> <!-- end testimonials__slide -->
    
                </div> <!-- end testimonial slider -->
                
            </div> <!-- end column -->
    
        </div> <!-- end row -->
    
    </section> <!-- end s-testimonials -->
    


    <!-- footer
    ================================================== -->
    <footer class="s-footer h-dark-bg">
        
        <!-- <div class="right-vert-line"></div> -->

      
        <div class="row s-footer__bottom">
            <div class="column large-full ss-copyright">
                <span>© Copyright HospitalStay</span> 
                <span>Design by <a href="/">Hospital Stay</a></span>
            </div> <!-- end ss-copyright -->

            <div class="ss-go-top">
                <a class="smoothscroll" title="Back to Top" href="#top">
                    <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"><path d="M12 0l8 9h-6v15h-4v-15h-6z"/></svg>
                </a>
            </div> <!-- end ss-go-top -->
        </div> <!-- end s-footer__bottom -->

    </footer> <!-- end s-footer -->


    <!-- photoswipe background
    ================================================== -->
    <div aria-hidden="true" class="pswp" role="dialog" tabindex="-1">

        <div class="pswp__bg"></div>
        <div class="pswp__scroll-wrap">

            <div class="pswp__container">
                <div class="pswp__item"></div>
                <div class="pswp__item"></div>
                <div class="pswp__item"></div>
            </div>

            <div class="pswp__ui pswp__ui--hidden">
                <div class="pswp__top-bar">
                    <div class="pswp__counter"></div><button class="pswp__button pswp__button--close" title="Close (Esc)"></button> <button class="pswp__button pswp__button--share" title=
                    "Share"></button> <button class="pswp__button pswp__button--fs" title="Toggle fullscreen"></button> <button class="pswp__button pswp__button--zoom" title=
                    "Zoom in/out"></button>
                    <div class="pswp__preloader">
                        <div class="pswp__preloader__icn">
                            <div class="pswp__preloader__cut">
                                <div class="pswp__preloader__donut"></div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="pswp__share-modal pswp__share-modal--hidden pswp__single-tap">
                    <div class="pswp__share-tooltip"></div>
                </div><button class="pswp__button pswp__button--arrow--left" title="Previous (arrow left)"></button> <button class="pswp__button pswp__button--arrow--right" title=
                "Next (arrow right)"></button>
                <div class="pswp__caption">
                    <div class="pswp__caption__center"></div>
                </div>
            </div>

        </div>

    </div> 

<!-- end photoSwipe background -->
    <!-- Java Script
    ================================================== -->
    <script src="../static/js/jquery-3.2.1.min.js"></script>
    <script src="../static/js/plugins.js"></script>
    <script src="../static/js/main.js"></script>

</body>
</html>